<div class="list-item-one">
  {{#list-one as |items fake contextt filter|}}
    <button class="filter-list-one" onclick={{action filter "5"}}>filter</button>
    <ListHtml @items={{items}} @fake={{fake}} />
  {{/list-one}}
</div>

<div class="list-item-two">
  {{#list-two as |items filter|}}
    <button class="filter-list-two" onclick={{action filter ""}}>filter</button>
    {{list-html items=items}}
  {{/list-two}}
</div>

<div class="list-item-three">
  {{#list-one as |items fake contextt filter refresh update random faked context|}}
    <RefreshList @refresh={{refresh}} />
    <UnrelatedChange @update={{update}} />
    <RandomChange @random={{random}} />
    <ListHtml @items={{items}} @fake={{fake}} />
    <span class="fake-contextt">{{contextt}}</span>
    <button class="fake-change" onclick={{action faked}}>update fake</button>
    <button class="btn-contextt" onclick={{action context}}>test context</button>
  {{/list-one}}
</div>

<div class="unrelated">
  {{#unrelated-one as |unrelated|}}
    <span class="unrelated-one">{{unrelated}}</span>
  {{/unrelated-one}}
</div>

<div class="random">
  {{#random-one as |random|}}
    <span class="random-one">{{random}}</span>
  {{/random-one}}
</div>
