<span class="clazz-state">{{this.low}}</span>
<button class="clazz-up" onclick={{action "up"}}>up</button>
<span class="clazz-color">{{this.color}}</span>

<span class="init-low">{{this.low}}</span>
<span class="init-hello">{{this.hello}}</span>
