<span class="clazz-state">{{low}}</span>
<button class="clazz-up" onclick={{action "up"}}>up</button>
<span class="clazz-color">{{color}}</span>

<span class="init-low">{{low}}</span>
<span class="init-hello">{{hello}}</span>
