<span class="parent-state">{{low}}</span>

<button class="btn-up" onclick={{action "up"}}>up</button>

{{count-detail high=high down=(action "down")}}

<button class="btn-random" onclick={{action "random"}}>random</button>

<span class="random-state">{{color}}</span>
