<div class="name">name: {{this.name}}</div>
<div class="full-name">full name: {{this.fullName}}</div>
<div class="greeting">{{this.sayHi}}</div>
<div class="color">color: {{this.color}}</div>
<span class="into-five">number: {{this.intoFive}}</span>
<span class="number">number: {{this.number}}</span><br />
<span>bar: {{this.bar}}</span><br />
<button class="button" type="button" {{on "click" this.go}}>GO</button>
<button class="btn-random" {{on "click" this.random}}>random</button>